[submodule "poky"]
	path = poky
	url = git://git.yoctoproject.org/poky.git
	branch = honister
[submodule "layers/meta-openembedded"]
	path = layers/meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
	branch = honister
[submodule "layers/meta-raspberrypi"]
	path = layers/meta-raspberrypi
	url = git://git.yoctoproject.org/meta-raspberrypi
	branch = honister
[submodule "layers/meta-3dprinter"]
	path = layers/meta-octoprint
	url = https://github.com/dev-0x7C6/meta-octoprint.git
	branch = master
